<html>
<head>
</head>
<body>
	<table width="90%">
		<tr>
			<td>
				<table>
					<tr>
						<td>
							<p style="font-weight: bold;">Invoice Number
								${invoiceNo},</p>
							<p style="font-weight: bold;">From :</p>
							<div>${mailfrom},</div>
							<div>Office:18,3rd Floor Vasantika Aparment</div>
							<div>S.No,47/6B,Opp.yena Banglow beside,manglam chemmbers,</div>
							<div>Paud Road,kothrud pune:411038</div>
						</td>
					</tr>
				</table>
			</td>
			<td align="right">
				<table>
					<tr>
						<td style="width: 400px;align="right";>
							<p style="font-weight: bold;">To :</p>
							<div>${firstName},</div>
							<div>Address :${address},</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="2"><hr /></td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<table width="70%">
					<tr>
						<td align="left">

							<p style="font-weight: bold;">Hello ${firstName},</p>
							<p>Greetings from Nextech Services!</p>
							<p style="font-weight: bold;">Invoice Number: ${invoiceNo},</p>
							<p style="font-weight: bold;">Description : ${discription},</p>
						</td>
					</tr>
					<tr>
						<td>
							<table>
								<tr>
									<td colspan="2" align="left">
										<table width="80%" bgcolor="#9EC5FF" border="1"
											bordercolor="#888" cellspacing="0" cellpadding="4">
											<tr>
												<th align="left">Sr.No</th>
												<th align="left">PRODUCT PART NUMBER</th>
												<th align="left">CLIENT PART NUMBER</th>
												<th align="left">Quantity DISPATCHED</th>
											</tr>
											#set ( $row = 1 ) 
											#set ( $productSubtotal = 0) 
											#foreach ($dispatchProductDTO in $dispatchProductDTOs ) 
												#if ( $row % 2 == 0 ) 
													#set ($color="#CBDCFF") 
												#else 
													#set ($color="#E3EEFF") 
												#end
											<tr>
											<tr bgcolor="$color">
												<td align="left">$row</td>
				                             	<td align="left">$dispatchProductDTO.productName</td>
												<td align="center">$dispatchProductDTO.clientPartNumber</td>
												<td align="center">$dispatchProductDTO.quantityDispatched</td>
											</tr>
											#set ( $row = $row + 1 ) 
											#end
										</table>
										<div style align="left">
											<div>In case of any further assistance or clarification
												on this issue, please reply back to this email.</div>
											<div>Assuring you of our best services always,</div>
											<div>Yours sincerely</div>
											<div>${signature}</div>
											<div>${location}</div>
										</div>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

</body>

</html>