<html>

<head>
<style>
table {
   font-family: arial, sans-serif;

   width: 100%;
}

td, th {
   border: 1px solid #dddddd;
   text-align: left;
   padding-left: 10px;
}
th
{
background: rgb(120, 129, 178);
   color: white;
}
</style>
</head>

<body>
    <p style="font-weight: bold;">Dear ${firstName} ${lastName},</p>
    <p>Greetings from Nextech Services!</p>
    <table>
    <tr>
      <th>RM Order Name</th>
      <th>Create Date</th>
      <th>RM Order Quantity</th>
      <th>Total Price</th>
      <th>Other Charges</th>
      <th>Actual Price</th>
      <th>Tax</th>
    </tr>
    <tr>
    <td>${rmOrderName}</td>
    <td>${createdDate}</td>
    <td>${quantity}</td>
    <td>${totalPrice}</td>
    <td>${otherCharges}</td>
    <td>${actualPrice}</td>
    <td>${tax}</td>
    </tr>
    </table>
    
    
    <table>
      <tr>
        <td colspan="2" align="left">
          <table width="80%" bgcolor="#9EC5FF" border="1"
                bordercolor="#888" cellspacing="0" cellpadding="4">
            <tr>
              <th align="left">Sr.No</th>
              <th align="left">RM NAME</th>
               <th align="left">DESCRIPTION</th>
              <th align="left">Quantity</th>
              <th align="left">PPU</th>
              <th align="left">Amount</th>
            </tr>
         #set ( $row = 1 )
          #set ( $rmtotal = 0)
            #foreach ( $rmOrderModelDatas in $rmOrderModelDatas )
              #if ( $row % 2 == 0 )
                #set ($color="#CBDCFF")
              #else
                #set ($color="#E3EEFF")
              #end
    <tr>
          <tr bgcolor="$color">
                <td align="left">$row</td>
                <td align="left">$rmOrderModelData.rmName</td>
                <td align="left">$rmOrderModelData.description</td>
                <td align="center">$rmOrderModelData.quantity</td>
                <td align="center">$rmOrderModelData.pricePerUnit</td>
                <td align="center"> #set ( $rmOrderDataTotal = $rmOrderModelData.pricePerUnit * $rmOrderModelData.quantity )
                 $rmOrderDataTotal
                </td>
              </tr>
             
              #set ( $rmtotal = $rmtotal + $rmOrderDataTotal )
               #set ( $row = $row + 1 )
            #end
            <tr bgcolor="#E3EEFF">
              <td colspan="4" align="left"><strong> Total</strong></td>
              <td align="center"> </td> 
              $rmtotal
            </tr>
    </tr>
    </table>
    
    
     <p>In case of any further assistance or clarification on this issue, please reply back to this email.</p>
    <p>Assuring you of our best services always,</p>
    <div>Yours sincerely</div>
    <div>${signature}</div>
    <div>${location}</div>

</body>

</html>