<html>

<head>
<style>
table {
   font-family: arial, sans-serif;

   width: 100%;
}

td, th {
   border: 1px solid #dddddd;
   text-align: left;
   padding-left: 10px;
}
th
{
background: rgb(120, 129, 178);
   color: white;
}
</style>
</head>

<body>
    <p style="font-weight: bold;">Hello ${companyName},</p>
    <p>Greetings from Nextech Services!</p>
    <table>
    <tr>
      <th>Invoice Number</th>
      <th>Product Name</th>
       <th>Product  Quantity</th>
    </tr>
         #set ( $row = 1 )
            #foreach ( $productorderassociation in $productorderassociations )
              #if ( $row % 2 == 0 )
                #set ($color="#CBDCFF")
              #else
                #set ($color="#E3EEFF")

              #end
    
    <tr>
          <tr bgcolor="$color">
                <td align="left">$row</td>
                <td align="left">$productorderassociation.product</td>
                <td align="center">$productorderassociation.quantity</td>
              </tr>
              #set ( $row = $row + 1 )

            #end
    </tr>
    </table>
     <p>In case of any further assistance or clarification on this issue, please reply back to this email.</p>
    <p>Assuring you of our best services always,</p>
    <div>Yours sincerely</div>
    <div>${signature}</div>
    <div>${location}</div>

</body>

</html>