<html>
<head>
</head>
<body>
	<table width="90%">
		<tr>
			<td>
				<table>
					<tr>
						<td>
							<p style="font-weight: bold;">Invoice Number
								${invoiceNumber},</p>
							<p style="font-weight: bold;">From :</p>
							<div>${mailfrom},</div>
							<div>At-Shinde,Post:Vasuli</div>
							<div>Chakan Industrial Area,</div>
							<div>Phase2,Tal-khed Pune 410501</div>
						</td>
					</tr>
				</table>
			</td>
			<td align="right">
				<table>
					<tr>
						<td style="width: 400px;align="right";>
							<p style="font-weight: bold;">To :</p>
							<div>${companyName},</div>
							<div>Address :${address},</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="2"><hr /></td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<table width="70%">
					<tr>
						<td align="left">

							<p style="font-weight: bold;">Hello ${companyName},</p>
							   <p>Greetings from Dream construction!</p>
						</td>
					</tr>
					<tr>
						<td>
							<table>
								<tr>
									<td colspan="2" align="left">
										<table width="80%" bgcolor="#9EC5FF" border="1"
											bordercolor="#888" cellspacing="0" cellpadding="4">
											<tr>
												<th align="left">Sr.No</th>
												<th align="left">Product Description</th>
												<th align="left">Quantity</th>
												<th align="left">Rate</th>
												<th align="left">Amount</th>
											</tr>
											#set ( $row = 1 ) 
											#set ( $productSubtotal = 0) 
											#foreach ($purchaseOrderPdfData in $purchaseOrderPdfDatas ) 
												#if ( $row % 2 == 0 ) 
													#set ($color="#CBDCFF") 
												#else 
													#set ($color="#E3EEFF") 
												#end
											<tr>
											<tr bgcolor="$color">
												<td align="left">$row</td>
												<td align="left">$purchaseOrderPdfData.productPartNumber</td>
												<td align="center">$purchaseOrderPdfData.quantity</td>
												<td align="center">$purchaseOrderPdfData.pricePerUnit</td>
												<td align="center">#set ( $productOrderDataTotal =
													$purchaseOrderPdfData.pricePerUnit * $purchaseOrderPdfData.quantity )
													$productOrderDataTotal</td>
											</tr>
												#set ( $productSubtotal = $productSubtotal + $productOrderDataTotal ) 
												#set ( $row = $row + 1 ) 
											#end
										<tr bgcolor="#E3EEFF">
												<td colspan="4" align="left"><strong> Total </strong> </td>
												<td align="center">$productSubtotal</td> 
											</tr>
										</table>
										<div style align="left">
											<div>In case of any further assistance or clarification
												on this issue, please reply back to this email.</div>
											<div>Assuring you of our best services always,</div>
											<div>Yours sincerely</div>
											<div>${signature}</div>
											<div>${location}</div>
										</div>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

</body>

</html>