<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
	<context:component-scan base-package="com.nextech.erp" />
	<mvc:annotation-driven />
	<bean id="validator"
		class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/erp?zeroDateTimeBehavior=convertToNull" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.nextech.erp.model.User</value>
				<value>com.nextech.erp.model.Usertype</value>
				<value>com.nextech.erp.model.Usertypepageassociation</value>
				<value>com.nextech.erp.model.Page</value>
				<value>com.nextech.erp.model.Vendor</value>
				<value>com.nextech.erp.model.Statustransition</value>
				<value>com.nextech.erp.model.Status</value>
				<value>com.nextech.erp.model.Product</value>
				<value>com.nextech.erp.model.Unit</value>
				<value>com.nextech.erp.model.Rawmaterial</value>
				<value>com.nextech.erp.model.Productrawmaterialassociation</value>
				<value>com.nextech.erp.model.Rawmaterialorder</value>
				<value>com.nextech.erp.model.Productinventory</value>
				<value>com.nextech.erp.model.Productinventoryhistory</value>
				<value>com.nextech.erp.model.Productorder</value>
				<value>com.nextech.erp.model.Rawmaterialvendorassociation</value>
				<value>com.nextech.erp.model.Rawmaterialinventory</value>
				<value>com.nextech.erp.model.Rawmaterialorderhistory</value>
				<value>com.nextech.erp.model.Rawmaterialinventoryhistory</value>
				<value>com.nextech.erp.model.Client</value>
				<value>com.nextech.erp.model.Productorderassociation</value>
				<value>com.nextech.erp.model.Rawmaterialorderassociation</value>
				<value>com.nextech.erp.model.Rawmaterialorderinvoice</value>
				<value>com.nextech.erp.model.Rmorderinvoiceintakquantity</value>
				<value>com.nextech.erp.model.Rawmaterialorderinvoiceassociation
				</value>
				<value>com.nextech.erp.model.Qualitycheckrawmaterial</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="txManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>classpath:properties/common</value>
				<value>classpath:properties/url</value>
			</list>
		</property>
		<property name="defaultEncoding" value="UTF-8" />
	</bean>
	<bean id="superDao" class="com.nextech.erp.daoImpl.SuperDaoImpl" />
	<bean id="CRUDServiceImpl" class="com.nextech.erp.serviceImpl.CRUDServiceImpl" />

	<bean id="userdao" class="com.nextech.erp.daoImpl.UserDaoImpl" />
	<bean id="userservice" class="com.nextech.erp.serviceImpl.UserServiceImpl" />
	<bean id="userTypeDao" class="com.nextech.erp.daoImpl.UsertypeDaoImpl" />
	<bean id="userTypeService" class="com.nextech.erp.serviceImpl.UserTypeServiceImpl" />
	<bean id="pagedao" class="com.nextech.erp.daoImpl.PageDaoImpl" />
	<bean id="pageservice" class="com.nextech.erp.serviceImpl.PageServiceImpl" />
	<bean id="usertypepageassociationDao" class="com.nextech.erp.daoImpl.UsertypepageassociationDaoImpl" />
	<bean id="usertypepageassociationService"
		class="com.nextech.erp.serviceImpl.UsertypepageassociationServiceImpl" />
	<bean id="vendorDao" class="com.nextech.erp.daoImpl.VendorDaoImpl" />
	<bean id="vendorService" class="com.nextech.erp.serviceImpl.VendorServiceImpl" />
	<bean id="statustransitionDao" class="com.nextech.erp.daoImpl.StatustransitionDaoImpl" />
	<bean id="statustransitionService" class="com.nextech.erp.serviceImpl.StatustransitionServiceImpl" />
	<bean id="statusDao" class="com.nextech.erp.daoImpl.StatusDaoImpl" />
	<bean id="statusService" class="com.nextech.erp.serviceImpl.StatusServiceImpl" />
	<bean id="productDao" class="com.nextech.erp.daoImpl.ProductDaoImpl" />
	<bean id="productService" class="com.nextech.erp.serviceImpl.ProductServiceImpl" />
	<bean id="unittDao" class="com.nextech.erp.daoImpl.UnitDaoImpl" />
	<bean id="unitService" class="com.nextech.erp.serviceImpl.UnitServiceImpl" />
	<bean id="clientDao" class="com.nextech.erp.daoImpl.ClientDaoImpl" />
	<bean id="clientService" class="com.nextech.erp.serviceImpl.ClientServiceImpl" />
	<bean id="productinventoryDao" class="com.nextech.erp.daoImpl.ProductinventoryDaoImpl" />
	<bean id="productinventoryService" class="com.nextech.erp.serviceImpl.ProductinventoryServiceImpl" />
	<bean id="productinventoryhistoryDao" class="com.nextech.erp.daoImpl.ProductinventoryhistoryDaoImpl" />
	<bean id="productinventoryhistoryService"
		class="com.nextech.erp.serviceImpl.ProductinventoryhistoryServiceImpl" />
	<bean id="productorderDao" class="com.nextech.erp.daoImpl.ProductorderDaoImpl" />
	<bean id="productorderService" class="com.nextech.erp.serviceImpl.ProductorderServiceImpl" />
	<bean id="ProductRMAssoDaoImpl" class="com.nextech.erp.daoImpl.ProductRMAssoDaoImpl" />
	<bean id="productRMAssoService" class="com.nextech.erp.serviceImpl.ProductRMAssoServiceImpl" />
	<bean id="rawmaterialDao" class="com.nextech.erp.daoImpl.RawmaterialDaoImpl" />
	<bean id="rawmaterialService" class="com.nextech.erp.serviceImpl.RawmaterialServiceImpl" />
	<bean id="rawmaterialinventoryDao" class="com.nextech.erp.daoImpl.RawmaterialinventoryDaoImpl" />
	<bean id="rawmaterialinventoryService"
		class="com.nextech.erp.serviceImpl.RawmaterialinventoryServiceImpl" />
	<bean id="rawmaterialinventoryhistoryDao"
		class="com.nextech.erp.daoImpl.RawmaterialinventoryhistoryDaoImpl" />
	<bean id="rawmaterialinventoryhistoryService"
		class="com.nextech.erp.serviceImpl.RawmaterialinventoryhistoryServiceImpl" />
	<bean id="rawmaterialorderDao" class="com.nextech.erp.daoImpl.RawmaterialorderDaoImpl" />
	<bean id="rawmaterialorderService" class="com.nextech.erp.serviceImpl.RawmaterialorderServiceImpl" />
	<bean id="rawmaterialorderhistoryDao" class="com.nextech.erp.daoImpl.RawmaterialorderhistoryDaoImpl" />
	<bean id="rawmaterialorderhistoryService"
		class="com.nextech.erp.serviceImpl.RawmaterialorderhistoryServiceImpl" />
	<bean id="rmvAssoDao" class="com.nextech.erp.daoImpl.RMVAssoDaoImpl" />
	<bean id="rmvAssoService" class="com.nextech.erp.serviceImpl.RMVAssoServiceImpl" />
	<bean id="orderproductassociationDao" class="com.nextech.erp.daoImpl.ProductorderassociationDaoImpl" />
	<bean id="orderproductassociationService"
		class="com.nextech.erp.serviceImpl.ProductorderassociationServiceImpl" />
	<bean id="orderrawmaterialassociationDao"
		class="com.nextech.erp.daoImpl.RawmaterialorderassociationDaoImpl" />
	<bean id="orderrawmaterialassociationService"
		class="com.nextech.erp.serviceImpl.RawmaterialorderassociationServiceImpl" />
	<bean id="rawmaterialorderinvoiceDao" class="com.nextech.erp.daoImpl.RawmaterialorderinvoiceDaoImpl" />
	<bean id="rawmaterialorderinvoiceService"
		class="com.nextech.erp.serviceImpl.RawmaterialorderinvoiceServiceImpl" />
	<bean id="rawmaterialorderinvoiceassociationDao"
		class="com.nextech.erp.daoImpl.RawmaterialorderinvoiceassociationDaoImpl" />
	<bean id="rawmaterialorderinvoiceassociationService"
		class="com.nextech.erp.serviceImpl.RawmaterialorderinvoiceassociationServiceImpl" />
	<bean id="rmorderinvoiceintakquantityDao"
		class="com.nextech.erp.daoImpl.RmorderinvoiceintakquantityDaoImpl" />
	<bean id="rmorderinvoiceintakquantityService"
		class="com.nextech.erp.serviceImpl.RmorderinvoiceintakquantityServiceImpl" />
	<bean id="qualitycheckrawmaterialDao" class="com.nextech.erp.daoImpl.QualitycheckrawmaterialDaoImpl" />
	<bean id="qualitycheckrawmaterialService"
		class="com.nextech.erp.serviceImpl.QualitycheckrawmaterialServiceImpl" />
</beans>
